.owl-ekwa-hide{
    visibility: hidden;
}
.ekwa-owl-prev,
.ekwa-owl-next{
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0;
}
.owl-nav{
    display: none;
}
.ekwa-carousel-wrapper .offscreen{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.ekwa-carousel-wrapper{
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}
.ekwa-owl-prev, .ekwa-owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.ekwa-owl-prev{
    left: 0;
}
.ekwa-owl-next{
    right: 0;
}
.ekwa-owl-prev.disabled,
.ekwa-owl-next.disabled{
    opacity: 0.3;
    cursor: default;
}